*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.85rem;
}
::-webkit-scrollbar{
    display: none;
}
:root{
    --bg-color: hsl(207, 26%, 17%);
    --content-color:hsl(209, 23%, 22%);
    --font-color: white;
    --hover-n-span: rgb(159, 158, 158);
}

body{
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--bg-color);
}

h2{
    font-size: 1.1rem;
}
.header{
    /* border: 2px solid red; */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--content-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px -2px rgb(29, 29, 29);
}
.color-mode i{
    font-size: 2.5rem;
    color: #211641;
}
.main-content{
    /* border: 1px solid green; */
    width:100vw;
    padding: 1.8rem 3rem;
    display: flex;
    flex-direction: column;
}
.search_N_filter{
    /* border: 1px solid yellow; */
    padding: 22px auto;
    display: flex;
    justify-content: space-between;
}
.searchbar{
    /* border: 2px solid red; */
    position: relative;
}
.searchbar i{
    position: absolute;
    margin: 14px 22px;
}
form{
    /* border: 2px solid red; */
    color: var(--font-color);
    /* border:none; */
    background-color: var(--content-color);
    padding: 12px 20px;
    border-radius: 3px;
    width: 25rem;
    box-shadow: 0 0px 8px -4px rgb(29, 29, 29);

}
input{
    color: var(--font-color);
    border:none;
    background-color: var(--content-color);
    margin: 0px 30px;
    padding: none;
    border-radius: 3px;
    width: 20rem;
    outline: none;
}
input::placeholder{
    opacity: 0.9;
}
#continents{
    /* border: 2px solid red; */
    background-color: var(--content-color);
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 12rem;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    box-shadow: 0 0px 8px -4px rgb(29, 29, 29);

}
#continents i{
    cursor: pointer;
}
.all-continent{
    /* border: 1px solid yellow; */
    background-color: var(--content-color);
    position: absolute;
    margin-top: 14.6rem;
    border-radius: 3px;
    width: 12rem;
    padding: 9px;
    display: none;
    z-index: 1;
    box-shadow: 0 4px 8px -2px rgb(29, 29, 29);
}
.individual-continent{
    padding: 5px;
    cursor: pointer;
}
.individual-continent:hover{
    color: var(--hover-n-span)
}
.countries{
    /* border: 2px solid yellow; */
    margin-top: 2.7rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4.6rem;
    justify-content: space-between;
}
.country-data{
    /* border: 2px solid red; */
    background-color: var(--content-color);
    border-radius: 3px;
    padding: 22px;
    width: 19rem;
    box-shadow: 0 4px 8px -2px rgb(29, 29, 29);
    cursor: pointer;
}
.country-data:hover{
    box-shadow: 0 6px 6px -2px black;
}
.flag-img{
    /* border: 2px solid yellow; */
    position: relative;
    left: -22px;
    top: -22px;
    position: relative;
    height: auto;
    width: 19rem;
}
.country-data h3{
    /* border: 2px solid red; */
    padding-bottom: 1rem;
}
.country-data p{
    padding: 3.4px 0px;
}
span{
    color: var(--hover-n-span)
}
.display-toggle{
    display: block;
}
.display-remove{
    display: none;
}